@charset "UTF-8";
@import "./seven.css";
:root {
  --content-width: 1320px;
  /*자주 쓰는 css 코드를 하나의 변수로 저장하는 코드 :root라는 태그 안에다가 집어넣어야함
  변수이름 선언 방법: --두개를 작성후 이름 적고 이름과 이름 사이에 -추가 ex)--content-width: 1320px
  지금 이 변수를 선언한 건 밑에 코드에 1320px를 width로 사용하기 때문에 만들었음. 사용방법은 29번재 줄 로*/
}
/* 공통 UI */
a.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #0055b8;
  border-radius: 5px;
}
/* 메인배너 */
#mainbanner {
  background-image: url("../img/subway/main_photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-position: -150px;
}

#mainbanner .inner {
  position: relative;
  width: var(
    --content-width
  ); /*:root안에 설정한 변수 사용방법: var(선언한 변수 이름) 을 적으면 된다. 지금 width에 선언한 변수를 넣었으니 width: 1320px == width: var(--content-width)임.*/
  height: 100vh;
  margin: 0 auto;
}

#mainbanner .maintext {
  position: absolute;
  text-align: center;
  width: 100%;
  min-height: 254px;
  top: calc(50% - 207px);
}

/* 메인 배너 메인 타이틀 */
#mainbanner .maintext p.maintitle {
  font-size: 50px;
  color: #333333;
  line-height: 60px;
}

/* 메인배너 서브타이틀 */

#mainbanner .inner a.common-btn {
  position: absolute;
  bottom: 100px;
  right: 660px;
  color: #333333;
  font-weight: bold;
  border-radius: 30px 0 0 0;
  background-color: #ffce32;
}

#mainbanner .inner a.common-btn:nth-child(2) {
  right: 480px;
  border-radius: 0 0 30px 0;
  background-color: #009223;
  color: white;
}

#wrap {
  width: var(--content-width);
  margin: 0 auto;
  background-color: #f1f1f1;
}

/* 상단 고정형 메뉴 */
/* 상단 고정형 메뉴 -> 메뉴 정렬 */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box; /* padding: 45px 25px 0; 이 코드로 인한 box-size변동을 잡아주는 코드 */
  background-color: white;
  z-index: 10;
}
#logo {
  float: left;
}

#header .h-inner {
  padding: 25px 25px 45px;
  margin: 0 auto;
  width: var(--content-width);
}

#header #logo h1 a img {
  height: 30px;
}

#header .inner {
  float: right;
}

#header .inner > ul {
  overflow: hidden;
  float: left;
}

#header .inner > ul > li {
  float: left;
  height: 20px;
  position: relative;
}

#header .inner > ul#gnb > li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -25px;
  top: 8px;
}

#header .inner > ul > li:hover {
  text-decoration: underline;
}

/* 상단 고정형 메뉴 -> 메뉴 간격 수정 */
#header .inner #gnb {
  margin-right: 103px; /* 메뉴와 로그인 파트 마진 주는 코드 // 고객센터 <-> 로그인*/
}

#header .inner #gnb li {
  margin-left: 47px; /*  gnb요소들 사이 간격 주는 코드 // 시작하기 <-> 상품보기 <-> 와이즐리 이야기 ...*/
}

#header .inner #gnb li:first-child {
  margin-left: 0; /* 제일 처음 녀석은 간격을 주면 안되니 삭제  */
}

#header .inner #login-menu li {
  margin-left: 30px; /* 로그인메뉴 요소들 간격 주는 코드 // 로그인 <-> 장바구니 */
}
#header .inner #login-menu > li:first-child {
  margin-left: 0px; /* 이녀석도 처음 녀석에 간격 필요없으니 삭제 */
}

#header .inner > ul > li > a {
  line-height: 20px; /* 글자 가운데로 하는 코드 //81번 줄에 height: 20px를 줬기 때문에 line-height:20px로 맞추기*/
}

#header .inner #login-menu li span.count {
  display: flex; /* display:flex 는 원래 부모한테 줘야한다. 하지만 지금처럼 span의 0이라는 text가 있으니 이것을 정열시키기 위한 flex선언 이해가 안된다면 니꼬 flex-box 복습*/
  justify-content: center;
  align-items: center; /* 0text를 가운데 정렬 */
  width: 18px;
  height: 18px; /* 크기 높이를 줘서 원만들기위한 기초 작업*/
  font-size: 14px;
  float: right; /* float:right를 안하면 장바구니 밑에 붙어서 보이지 않음 오른쪽으로 빼줘야 함. */
  color: white;
  border-radius: 50%; /* 원 만들기 */
  background-color: #ffc01d; /* 원의 색상 변경*/
  margin-left: 4px; /*장바구니랑 숫자랑 옆에 사이 두는 코드 // 장바구니 <-> 0*/
}

/* ------------------------------------ 헤더 끝 -------------------------------------- */
/* ------------------------------------ 컨텐츠 영역 시작 -------------------------------------- */

/* Section first */
#container section#first {
  min-height: 1350px;
}

#container section#first .first__subtitle {
  text-align: center;
  font-size: 40px;
  color: #292929;
  font-weight: bold;
  padding-bottom: 40px;
}

#container section#first .inner {
  width: 100%;
}

#container section#first .inner .f-up-section {
  background: url("../img/subway/section1_bg.jpg") no-repeat;
  min-height: 650px;
  position: relative;
}
#container section#first .inner .f-up-section .up-border-title {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 40px;
  border: 5px solid white;
  border-radius: 30px;
  margin: 100px 0 32px;
}

#container section#first .inner .f-up-section .up-border-title span {
  color: white;
  line-height: 40px;
  font-weight: bold;
}

#container section#first .inner .f-up-section .up-main-text strong {
  font-size: 60px;
}

#container section#first .inner .f-up-section .up-main-text strong,
#container section#first .inner .f-up-section .up-main-text p {
  color: white;
  margin-top: 32px;
  line-height: 30px
}

#container section#first .inner .f-up-section .up-main-text p{
  font-size: 18px;
}

#container section#first .inner .f-up-section .up-main-logo {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  bottom: 104px;
  left: 770px;
}

#container section#first .inner .f-up-section .up-main-logo span {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  background: url("../img/subway/icon_group_middle.png") no-repeat;
  margin: 0 20px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/#container section#first .inner .f-up-section .up-main-logo span.logo1 {
  background-position: 0 0;
}

#container section#first .inner .f-up-section .up-main-logo span.logo2 {
  background-position: -70px -70px;
}
#container section#first .inner .f-up-section .up-main-logo span.logo3 {
  background-position: -140px 0;
}
#container section#first .inner .f-down-section {
  height: 490px;
  width: 1170px;
  margin: -10px auto;
  background-color: white;
  padding-top: 50px;
  box-sizing: border-box;
}

#container section#first .inner .f-down-section h3 {
  color: #292929;
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin-bottom: 38px;
}
}

#container section#first .inner .f-down-section ul {
  overflow: hidden;
}

#container section#first .inner .f-down-section ul > li {
  display: block;
  text-align: center;
  float: left;
  width: 33.33%
}

#container section#first .inner .f-down-section ul > li .icon {
  background: url('../img/subway/icon_group.jpg') no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}

#container section#first .inner .f-down-section ul > li .icon.menu {
  background-position: 0 0;
}

#container section#first .inner .f-down-section ul > li .icon.tel {
  background-position: -100px 0;
}

#container section#first .inner .f-down-section ul > li .icon.house {
  background-position: -200px 0;
}

#container section#first .inner .f-down-section ul > li > h2{
  font-size: 16px;
  color: #009223;
  font-weight: bold;

}
#container section#first .inner .f-down-section ul > li > span{
  font-size: 22px;
  color: #292929;
  font-weight: bold;
}
#container section#first .inner .f-down-section ul > li > p{
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  margin-top: 13px;
}

#container section#first .inner .f-down-section .btns {
  display: block;
}
#container section#first .inner .btns .btn1,
#container section#first .inner .btns .btn2 {
  background-color: #009223;
  border-radius: 30px;
}

/* Section second */
#container section .inner {
  width: var(--content-width);
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/* subway */
#container section#sixth {
  background-color: #f6f6f6;
  min-height: 900px;
}
#container section#sixth .up-section {
  /* position: relative; */
}
#container section#sixth .up-section .inner {
  width: 1320px;
  text-align: left;
}

#container section#sixth .up-section .inner .diet {
  /* margin-top: 80px; */
  width: 225px;
  height: 50px;
  background-color: #ff8201;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

#container section#sixth .up-section .inner .up-section__text {
  display: inline-block;
}

#container section#sixth .up-section .inner .up-section__text h2 {
  font-size: 54px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 35px;
  color: white;
}

#container section#sixth .up-section .inner .up-section__text span {
  color: white;
  line-height: 26px;
  float: left;
  text-align: left;
}

#container section#sixth .up-section {
  height: 485px;
  background: url("../img/subway/bg.jpg") no-repeat;
  padding-top: 80px;
  box-sizing: border-box;
}

#container section .up-section .inner img {
  position: relative;
  width: 555px;
  height: 333px;
  float: right;
  margin-top: -40px;
  /* transition: transform 1s ease-in-out; */
}

@keyframes upandDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

#container section .up-section .inner img:hover {
  animation: upandDown 2s ease-in-out infinite;
}

#container section#sixth .box.img {
  width: var(--content-width);
  height: 475px;
  background-color: white;
  margin: -60px auto 0;
  padding: 0 90px;
  box-sizing: border-box;
  /* position: absolute; */
  /* top: 420px; */
}

#container section .box .white-box {
  width: 100%;
  height: 100%;
}

#container section .box .white-box .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container section .box .white-box .white-box__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 35px;
  box-sizing: border-box;
  color: #333;
  font-weight: bold;
}

#container section .box .white-box .white-box__title strong {
  font-weight: bold;
  color: #ff8201;
}

#container section .box.img .content-wrap ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#container section .box.img .content-wrap ul li .content-img {
  width: 300px;
  height: 150px;
}

#container section .box.img .content-wrap ul li .content__logo__text {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
}

#container section .box.img .content-wrap ul li .content__logo__text img {
  margin-right: 10px;
}

#container section .box.img .content-wrap ul li .content__text p {
  text-align: center;
  color: #555555;
  line-height: 24px;
}

#container section .box.img .content-wrap ul li {
  position: relative;
}
#container section .box.img .content-wrap ul li:after {
  content: "";
  width: 45px;
  height: 5px;
  background-repeat: 1px solid black;
  position: absolute;
  left: -82.5px;
  top: 95px;
  background-image: url("../img/subway/ping.png");
}

#container section .box.img .content-wrap ul li:first-child:after {
  display: none;
}
.underthesea {
  text-align: center;
  padding: 40px 0 37px;
}
.underthesea ul {
  overflow: hidden;
  display: inline-block;
}

.underthesea ul > li {
  float: left;
  margin-left: 80px;
}

.underthesea ul > li strong {
  color: #292929;
  font-size: 18px;
  display: block;
  margin-top: 12px;
  text-align: left;
}

.underthesea ul > li span {
  color: #999999;
  font-size: 13px;
  display: block;
  margin-top: 6px;
  text-align: left;
}

.underthesea ul > li > a {
  display: block;
  overflow: hidden;
  position: relative;
  height: 70px;
  padding-left: 90px;
}

.underthesea ul > li > a > .icon {
  background: url('../img/subway/underthesea.png') no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
}

.underthesea ul > li.u1 > a > .icon{
  background-position: 0px 0px;
}

.underthesea ul > li.u2 > a > .icon{
  background-position: -70px 0px;
}

.underthesea ul > li.u3 > a > .icon{
  background-position: -140px 0px;
}

.underthesea ul > li.u4 > a > .icon{
  background-position: -210px 0px;
}

/* 하단영역 */
#footer {
  background-color: #292929;
  height: 150px;
}

#footer .inner {
  position: relative;
  width: var(--content-width);
  height: 150px;
  margin: 0 auto;
  padding: 22px 0;
  overflow: hidden;
  box-sizing: border-box;
}

#footer .inner .f-box {
  float: left;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
}

/* site menu */
#footer .inner .f-box ul {
  overflow: hidden;
}

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-left: 40px;
}

#footer .inner .f-box ul li:first-child {
  margin-left: 0;
}

#footer .inner .f-box ul li a {
  line-height: 20px;
  color: #666666;
  font-size: 14px;
}
#footer .inner .f-box ul li.bold a {
  font-weight: bold;
  color: #bbbbbb;
}

#footer .inner .info_div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer .inner ul.footer__info li {
  padding-top: 27px;
  float: left;
  position: relative;
  padding: 27px 15px 0 0;
}

#footer .inner ul.footer__info li::after {
  content: "";
  position: absolute;
  left: -9px;
  top: 31px;
  width: 2px;
  height: 10px;
  background-color: #666666;
}

#footer .inner ul.footer__info li:first-child::after {
  display: none;
}

#footer .inner ul.footer__info li span {
  font-size: 14px;
}

#footer .inner .copyright {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
  float: left;
}

#footer .inner .sns_logo .facebook,
#footer .inner .sns_logo .insta {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 100px;
  top: 85px;
  background-image: url("../img/subway/insta.png");
}
#footer .inner .sns_logo .facebook {
  right: 30px;
  background-image: url("../img/subway/facebook.png");
}
